.machine {
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 30px;
    &__panel {
        display: grid;
        grid-template-columns: 40% 60%;        
        // padding: 20px;
        margin-bottom: 50px;

        border-bottom: 3px solid black;
        // border-radius: 10px;
    }

    &__body {
        padding: 0px 30px 30px 30px;

    }
}

.panelTitle {
    padding: 30px;
    background-color: rgb(105, 59, 59);
    color: white;
    border-radius: 23px 0px 0px 0px;
    // border: 3px solid black;
    // border-radius: 30px;
}

.panel {
    display: flex;
    flex-direction: row;
    border-radius: 0px 25px 0px 0px;
    background-color: bisque;
    padding: 30px 35px;

    &__el {
        padding: 10px 15px;
        margin: 0px 10px;
        // border: 2px inset black;
        border-radius: 20px;
        background-color: rgb(145, 145, 145);
        color: white;
        font-size: larger;
        border-bottom: 4px solid #b2b1b1;
        text-shadow: 0px 1px 0px #fafafa;

        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            max-width: 50px;
        }

    }
}

.tape {
    display: flex;
    flex-direction: row;
    // margin-bottom: 20px;
    margin: 10px auto;
    justify-content: space-around;
    align-items: center;
    // min-width: 100%;
    
    &__left, &__right {
        padding: 20px;
        background-color: black;
        color: white;
    }
    &__left:hover, &__right:hover {
        cursor: pointer;
        transition: 0.2s;
        padding: 20px;
        background-color: rgb(87, 87, 87);
        color: white;
    }
    
    &__cells {
        display: flex;
        flex-direction: row;
    }

}

.cell {
    min-width: 45px;
    min-height: 50px;
    padding: 5px;
    border: 1px solid black;

    // display: flex;
    // flex-direction: row;
    text-align: center;
    // padding: 5px auto;

    font-size: 40px;
    font-weight: 700;
    // align-items: center;
}

.currCell {
    min-width: 45px;
    min-height: 30px;
    padding: 3px;
    border: 3px dashed black;

    text-align: center;

    font-size: 40px;
    font-weight: 700;
}


.currentState {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;

    font-size: 30px;
    font-weight: 800;
}

.alphabet {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__title {
        padding: 10px;
    }

    &__input {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__values {
        input {
            padding: 10px;
            font-size: 20px;
        }
    }

    &__confirm {
        margin-left: 10px;
        button {
            background-color: black;
            color: white;
            padding: 10px;
            border: 1px solid black;
            border-radius: 35px;
            &:hover {
                cursor: pointer;
                background-color: rgb(59, 59, 59);
                transition: 0.2s;
            }
        }
    }

}


.table {
    font-size: 18px;
    border: 2px solid black;
    table {
        th {
            background-color: blanchedalmond;
            // padding: 10px 115px;
            border: 1px solid black;
            min-width: 50px;
        }
       
        
    }
    
}
.tableHeader {
    border: 3px solid black;
    padding: 10px 80px;

}

.char {
    padding: 40px 10px;
    border: 1px solid black;
    margin: 0px;
    text-align: center;
}

.choose {
    // display: flex;
    // flex-direction: row;
    border: 1px solid black;
    select {
        font-size: 20px !important;
        margin: 3px 3px;
        padding: 10px;
    }
}

.notChoose {
    padding: 10px;
}

.addState {
    padding: 5px;
    font-size: 30px;
    border: 1px dashed rgb(95, 95, 95);
    text-align: center;
}

.deleteRule {
    font-size: 20px !important;

    padding: 5px;
    background-color: rgb(229, 123, 123);
    color: white;
}