.machine {
  background-color: whitesmoke;
  border: 3px solid black;
  border-radius: 30px;
  margin-bottom: 20px;
}

.machine__panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  margin-bottom: 50px;
  border-bottom: 3px solid black;
  font-size: 16px !important;
}

.machine__body {
  padding: 0px 30px 30px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
}

.panelTitle {
  padding: 30px;
  background-color: #693b3b;
  color: white;
  border-radius: 23px 0px 0px 0px;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0px 25px 0px 0px;
  background-color: bisque;
  padding: 30px 35px;
}

.panel__button {
  padding: 10px 15px;
  margin: 0px 10px;
  border-radius: 20px;
  background-color: #3e3939;
  color: white;
  font-size: larger;
  border-bottom: 4px solid #b2b1b1;
  text-shadow: 0px 1px 0px #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel__button:hover {
  cursor: pointer;
  background-color: #5d5c5c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.panel__el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actionLog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  background-image: url(https://img.freepik.com/premium-photo/white-texture-watercolor-paper_88281-381.jpg?w=2000);
}

.actionLog__header {
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding: 15px 0px;
  background-color: black;
  color: white;
}

.actionLog__body {
  max-height: 550px;
  padding: 10px 5px;
  color: black;
  overflow-y: auto;
  overflow-x: auto;
}

.tape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tape__left, .tape__right {
  padding: 20px;
  background-color: black;
  color: white;
}

.tape__left:hover, .tape__right:hover {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 20px;
  background-color: #575757;
  color: white;
}

.tape__cells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
}

.cell {
  min-width: 45px;
  min-height: 50px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.currCell {
  min-width: 45px;
  min-height: 30px;
  padding: 3px;
  border: 3px dashed black;
  background-color: #f5e9e9;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.currentState {
  margin: 0px auto;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  font-size: 30px;
  font-weight: 800;
}

.inputEditCell {
  width: 30px;
  height: 40px;
  font-size: 35px;
}
/*# sourceMappingURL=TuringMachine.module.css.map */