
// .layout {
//     // padding: 0 calc(50vw - 720px);
//     // min-height: 100vh;
// }

.main {
    padding: 0 calc(50vw - 720px);
    background-color: #ffffff;
    min-height: 100vh - 22vh;

}


@media (max-width: 1200px) { 
    .main {
        padding: 20px 0px;
    }
}