.main {
    min-height: calc(100vh - 320px);
    // min-height: calc(100vh - 100px - 220px);
    background-color: #ffffff;

    padding: 20px 250px;

    // background-color: darkslategrey;

    //Должно быть                     - 214px  чтобы ровно было
    // min-height: calc(100vh - 120px - 213px);
}


@media (max-width: 1200px) { 
    .main {
        padding: 20px 0px;
    }
}