.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about {
  -webkit-box-shadow: 13px 15px 12px -2px rgba(34, 60, 80, 0.2);
  box-shadow: 13px 15px 12px -2px rgba(34, 60, 80, 0.2);
  background-image: url(./../../assets/backgroundMachine.png);
  background-size: cover;
  border: 1px solid black;
  border-radius: 15px;
  padding: 45px;
  min-height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(246, 232, 212, 0.85);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 40px;
  border-radius: 40px;
  border: 2px solid black;
}

.about__title {
  font-size: 44px;
  font-weight: 800;
}

.about__text {
  font-size: 18px;
  font-weight: 400;
  width: 80%;
  margin-bottom: 20px;
}

.about__button {
  padding: 10px 15px;
  border-radius: 30px;
  background-color: black;
  color: white;
  width: 80%;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  border: 2px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about__button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  width: 80%;
  border: 2px dashed black;
  background-color: white;
  color: black;
}

.about__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__picture img {
  max-width: 500px;
  border-radius: 20px;
  border: 2px solid black;
}

.utility {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid black;
  color: white;
  background-color: #443c3c;
}

.utility__header {
  font-size: 40px;
}

.utility__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 34% 33%;
      grid-template-columns: 33% 34% 33%;
  margin-top: 15px;
}

.utility__content_el1, .utility__content_el2, .utility__content_el3 {
  padding: 40px;
  background-color: beige;
  border-radius: 15px;
}

.utility__content_el1:not(:first-child), .utility__content_el2:not(:first-child), .utility__content_el3:not(:first-child) {
  margin-left: 15px;
}

.utility__content_el1 {
  background-color: #f8fcc4;
}

.utility__content_el2 {
  background-color: #f8f4f4;
}

.utility__content_el3 {
  background-color: #e0e4f4;
}

.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reason__title {
  font-size: 24px;
  font-weight: 800;
  color: black;
}

.reason__text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.reason__icon {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reason__icon img {
  max-width: 100px;
  max-height: 100px;
}

.advanteges {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid black;
  color: black;
  background-color: #f8f4f4;
  position: relative;
}

.advanteges__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 40px;
}

.advanteges__content {
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

.advanteges__content_el1, .advanteges__content_el2, .advanteges__content_el3, .advanteges__content_el4 {
  padding: 20px;
  background-color: beige;
  border-radius: 15px;
  border: 1px dashed black;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.advanteges__content_el1:not(:first-child), .advanteges__content_el2:not(:first-child), .advanteges__content_el3:not(:first-child), .advanteges__content_el4:not(:first-child) {
  margin-left: 15px;
}

.advanteges__content_el1 {
  background-color: rgba(239, 203, 122, 0.75);
}

.advanteges__content_el2 {
  background-color: rgba(184, 164, 149, 0.75);
}

.advanteges__content_el3 {
  background-color: rgba(90, 188, 210, 0.75);
}

.advanteges__content_el4 {
  background-color: rgba(255, 255, 255, 0.75);
}

.benefit {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefit__title {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
}

.benefit__picture {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefit__picture img {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  max-width: 120px;
  max-height: 120px;
}

.benefit__text {
  margin-top: 25px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.reviews {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid black;
  color: white;
  background-color: #443c3c;
}

.reviews__header {
  font-size: 40px;
}

.reviews__content {
  margin-top: 20px;
  background-color: #443c3c;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

.reviewers {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 33% 33% 33%;
      grid-template-rows: 33% 33% 33%;
}

.reviewers:first-child {
  margin-top: 10px;
}

.reviewers__el {
  margin: 10px 0px;
  padding: 10px;
  background-color: #443c3c;
  color: white;
  border-radius: 15px 0px 0px 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

.reviewers__el:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #695b5b;
  cursor: pointer;
}

.reviewers__el_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 auto;
}

.reviewers__el_name {
  font-size: 22px;
  text-align: center;
}

.reviewers__activeEl {
  margin: 10px 0px;
  padding: 10px;
  background-color: #e0e0e0;
  color: black;
  border-radius: 15px 0px 0px 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

.reviewers__activeEl_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 auto;
}

.reviewers__activeEl_name {
  font-size: 22px;
  text-align: center;
}

.feedback {
  background-color: #e0e0e0;
  color: black;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 60%;
      grid-template-rows: 40% 60%;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
      grid-template-areas: "avatar name"  "title text";
}

.feedback__avatar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: avatar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 220px;
  max-width: 220px;
  min-height: 220px;
  max-height: 220px;
  border-radius: 50%;
  background-size: cover;
  margin: auto auto;
}

.feedback__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-size: 35px;
  font-weight: 800;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  position: relative;
}

.feedback__title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 26px;
  font-weight: 800;
  padding-right: 20px;
}

.feedback__text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: text;
  margin: 5px 30px 20px 0px;
  border-radius: 15px;
  padding: 20px 20px;
  font-size: 20px;
  border: 2px solid black;
  background-color: white;
  text-align: justify;
}

.stars {
  position: relative;
  top: 0px;
  left: 30px;
  z-index: 2;
  font-size: 90px;
  color: #b9a117;
  -webkit-animation: backgroundStars 5s infinite ease-in-out;
          animation: backgroundStars 5s infinite ease-in-out;
}

.circle {
  padding: 100px;
  font-size: 60px;
  color: white;
  background-color: #1ba224;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: backgroundCircle 5s infinite ease-in-out;
          animation: backgroundCircle 5s infinite ease-in-out;
  z-index: 2;
}

@-webkit-keyframes backgroundCircle {
  0% {
    top: 35px;
    left: 5px;
    rotate: 20deg;
  }
  50% {
    top: 100px;
    left: 100px;
    rotate: 110deg;
  }
  100% {
    top: 35px;
    left: 5px;
    rotate: 200deg;
  }
}

@keyframes backgroundCircle {
  0% {
    top: 35px;
    left: 5px;
    rotate: 20deg;
  }
  50% {
    top: 100px;
    left: 100px;
    rotate: 110deg;
  }
  100% {
    top: 35px;
    left: 5px;
    rotate: 200deg;
  }
}

@-webkit-keyframes backgroundStars {
  0% {
    top: 10px;
    left: 35px;
    rotate: 10deg;
  }
  50% {
    top: 60px;
    left: 35px;
    rotate: 10deg;
  }
  100% {
    top: 10px;
    left: 35px;
    rotate: 10deg;
  }
}

@keyframes backgroundStars {
  0% {
    top: 10px;
    left: 35px;
    rotate: 10deg;
  }
  50% {
    top: 60px;
    left: 35px;
    rotate: 10deg;
  }
  100% {
    top: 10px;
    left: 35px;
    rotate: 10deg;
  }
}
/*# sourceMappingURL=Landing.module.css.map */