.training {
  min-height: 80vh;
  background-color: #ebebeb;
  border: 3px solid black;
  border-radius: 15px;
  margin-bottom: 20px;
}

.training__robot {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto auto;
  margin-bottom: 20px;
}

.training__robot_text {
  margin-top: 15px;
}

.training__robot h1 {
  font-size: 28px;
  min-height: 34px;
}

.training__robot img {
  width: 105px;
  height: 130px;
}

.training__robot button {
  margin-top: 20px;
  padding: 10px 50px;
  min-width: 300px;
  min-height: 40px;
  background-color: #5c5cc7;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 15px;
}

.training__robot button:hover {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #7f7fed;
}

@-webkit-keyframes tape1 {
  0% {
    padding-right: 4000px;
  }
  100% {
    padding-left: 4000px;
  }
}

@keyframes tape1 {
  0% {
    padding-right: 4000px;
  }
  100% {
    padding-left: 4000px;
  }
}

.robot {
  margin-top: 10px;
  -webkit-animation: robot ease-in-out infinite 10s;
          animation: robot ease-in-out infinite 10s;
  padding: 40px 40px;
  width: 120px;
  height: 120px;
  background-color: #d1d11e;
  border-radius: 50%;
  border: 2px solid black;
  -webkit-transition: 20s;
  transition: 20s;
}

.robot:hover {
  cursor: pointer;
  -webkit-transition: 5s;
  transition: 5s;
  background-color: #d54e4e;
  -webkit-animation: robotHover ease-in-out 1s;
          animation: robotHover ease-in-out 1s;
}

.robot:hover__eyes_el {
  padding: 3px 3px;
}

.robot__eyes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.robot__eyes :not(:first-child) {
  margin-left: 10px;
}

.robot__eyes_el {
  -webkit-animation: eyes ease-in-out infinite 4s;
          animation: eyes ease-in-out infinite 4s;
  padding: 10px 10px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid black;
}

@-webkit-keyframes eyes {
  0% {
    padding: 10px 10px;
  }
  46% {
    padding: 10px 10px;
  }
  48% {
    padding: 3px 10px;
  }
  53% {
    padding: 10px 10px;
  }
  100% {
    padding: 10px 10px;
  }
}

@keyframes eyes {
  0% {
    padding: 10px 10px;
  }
  46% {
    padding: 10px 10px;
  }
  48% {
    padding: 3px 10px;
  }
  53% {
    padding: 10px 10px;
  }
  100% {
    padding: 10px 10px;
  }
}

@-webkit-keyframes robot {
  0% {
    padding: 40px 40px;
  }
  20% {
    padding: 40px 40px;
  }
  30% {
    padding: 40px 20px;
  }
  40% {
    padding: 40px 60px;
  }
  50% {
    padding: 40px 40px;
  }
  100% {
    padding: 40px 40px;
  }
}

@keyframes robot {
  0% {
    padding: 40px 40px;
  }
  20% {
    padding: 40px 40px;
  }
  30% {
    padding: 40px 20px;
  }
  40% {
    padding: 40px 60px;
  }
  50% {
    padding: 40px 40px;
  }
  100% {
    padding: 40px 40px;
  }
}

@-webkit-keyframes robotHover {
  0% {
    rotate: 0deg;
  }
  35% {
    rotate: 10deg;
  }
  65% {
    rotate: -10deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes robotHover {
  0% {
    rotate: 0deg;
  }
  35% {
    rotate: 10deg;
  }
  65% {
    rotate: -10deg;
  }
  100% {
    rotate: 0deg;
  }
}

.training1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto auto;
  overflow: hidden;
  z-index: 2;
}

.training1 .tape {
  z-index: 4;
  -webkit-animation: tape1 infinite 24s cubic-bezier(0.25, 0.25, 0.25, 0.25);
          animation: tape1 infinite 24s cubic-bezier(0.25, 0.25, 0.25, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 400px;
}

.training1 .tape__el {
  border: 1px solid black;
  background-color: white;
  min-height: 50px;
  min-width: 50px;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.center {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 2s;
  transition: 2s;
}

.center:first-child {
  margin-top: 120px;
}

.alphabet {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alphabet input {
  margin-left: 15px;
  padding: 10px;
  font-size: 22px;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__text {
  font-size: 22px;
}

.head__body {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border: 2px dashed black;
  background-color: #e4e4e4;
}

.tapeWithHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tapeWithHead__left, .tapeWithHead__right {
  padding: 20px;
  background-color: black;
  color: white;
}

.tapeWithHead__left:hover, .tapeWithHead__right:hover {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 20px;
  background-color: #575757;
  color: white;
}

.tapeWithHead__cells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
}

.cell {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  min-width: 45px;
  min-height: 50px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.currCell {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  min-width: 45px;
  min-height: 30px;
  padding: 3px;
  border: 3px dashed black;
  background-color: #f5e9e9;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.currentState {
  margin: 0px auto;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  font-size: 30px;
  font-weight: 800;
}

.end {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 4fr 4fr;
      grid-template-columns: 4fr 4fr 4fr;
  width: 100%;
  padding: 30px 50px;
}

.end__el1 {
  background-color: #f8fcc4;
}

.end__el2 {
  background-color: #f8f4f4;
}

.end__el3 {
  background-color: #e0e4f4;
}

.end__el1, .end__el2, .end__el3 {
  margin: 0px 10px;
  padding: 60px 30px;
  font-size: 24px;
  font-weight: 800;
  border-radius: 15px;
  border: 1px solid black;
}

.end__el1:hover, .end__el2:hover, .end__el3:hover {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
  cursor: pointer;
}

.spectator {
  position: inherit;
  margin: 100px auto;
  -webkit-animation: robot ease-in-out infinite 10s;
          animation: robot ease-in-out infinite 10s;
  padding: 40px 40px;
  width: 320px;
  height: 320px;
  background-color: #a582f7;
  border-radius: 50%;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.spectator:hover {
  cursor: pointer;
  -webkit-transition: 5s;
  transition: 5s;
}

.spectator__eyes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.spectator__eyes :not(:first-child) {
  margin-left: 10px;
}

.spectator__eyes_el {
  -webkit-animation: blink ease-in-out infinite 5s;
          animation: blink ease-in-out infinite 5s;
  padding: 40px 40px;
  background-color: #dddddd;
  border-radius: 50%;
  border: 2px solid black;
}

@-webkit-keyframes blink {
  0% {
    padding: 40px 40px;
  }
  96% {
    padding: 40px 40px;
  }
  98% {
    padding: 10px 40px;
  }
  100% {
    padding: 40px 40px;
  }
}

@keyframes blink {
  0% {
    padding: 40px 40px;
  }
  96% {
    padding: 40px 40px;
  }
  98% {
    padding: 10px 40px;
  }
  100% {
    padding: 40px 40px;
  }
}
/*# sourceMappingURL=Training.module.css.map */