.practice {
  background-color: whitesmoke;
  border: 3px solid black;
  border-radius: 15px;
  margin-bottom: 20px;
  min-height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.practice__panel {
  border-radius: 10px 0px 0px 10px;
  background-color: beige;
  padding: 10px 20px;
  border-right: 2px solid black;
}

.practice__machine {
  border-radius: 0px 10px 10px 0px;
}

.panel__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel__tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px;
  overflow-y: auto;
  height: 55vh;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.progress__title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}

.progress__indicator {
  font-size: 20px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.box .percent {
  width: 150px;
  height: 150px;
  position: relative;
}

.box .percent svg {
  width: 150px;
  height: 150px;
  position: relative;
}

.box .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #c6e1ec;
}

.box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 30) / 100);
  stroke: #00aeff;
}

.box .percent .num {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  color: #111;
  font-size: 31px;
}

.content {
  padding: 5px 20px;
}

.task {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  border-radius: 20px;
  border: 2px solid black;
}

.task:not(:first-child) {
  margin-top: 20px;
}

.task__isCompleted {
  border-radius: 0px 20px 20px 0px;
  background-color: white;
  margin: auto auto;
}

.task__isCompleted input {
  -webkit-transform: scale(3);
          transform: scale(3);
}

.taskBody {
  border-radius: 20px 0px 0px 20px;
  padding: 20px;
}

.taskBody:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
  cursor: pointer;
}

.taskBody__difficult_easy {
  background-color: #7ae67d;
}

.taskBody__difficult_medium {
  background-color: #eef154;
}

.taskBody__difficult_hard {
  background-color: #fe9e9e;
}

.taskBody__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.taskBody__header_title {
  font-size: 20px;
  font-weight: 800;
}

.taskBody__header_diff {
  font-size: 14px;
  font-weight: 400;
}

.filters {
  margin-top: 10px;
}

.filters__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters__radio_el {
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #999;
  background: #ffe0a6;
}

.filters__radio_el input[type=radio] {
  display: none;
}

.filters__radio_el input[type=radio]:checked {
  background: #624714;
}

.filters__radio_el input:checked {
  background: #d58c04;
  padding: 300px;
}

.filters__radio_el:hover {
  cursor: pointer;
  background-color: lightblue;
}

.filters__radio_el:hover label {
  cursor: pointer;
  color: white;
}
/*# sourceMappingURL=Practice.module.css.map */