.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-around;
    padding: 0px 400px;
    background-color: #241d1d;
    color: white;
    min-height: 160px;

    font-size: 20px;

    &__el {
        display: flex;
        justify-content: center;
        a {
            text-decoration: none;
            color: bisque;
        }
        svg {
            &:hover {
                cursor: pointer;
                border-radius: 50%;
                background-color: rgb(174, 174, 174);
            }

        }
    }

}
